<div style="height: calc(100vh - 2em - 24px - .5em); overflow-x: hidden; overflow-y: scroll">
  <div>
    <h1>Abfahrtsmonitor</h1>

    <app-search *ngIf="station == null" (selected)="stationSelected($event)"></app-search>

    <app-monitor *ngIf="station != null" [station]="station" (selectStation)="doReset()"></app-monitor>
  </div>
</div>

<div style="position: fixed; bottom: 0; left: 0; padding: 8px; font-size: 90%; height: calc(2em + 24px); width: 100%">
  Seiteninhaber: <a href="mailto:paulchen@rueckgr.at">Paul Staroch</a>
  <br />Datenquelle: <a href="https://data.wien.gv.at">Datenauftritt - Stadt Wien</a>, <a href="https://digitales.wien.gv.at/site/">DigitalesWien</a>
</div>
