<div *ngIf="stationDetails == null">
  <p-progressSpinner></p-progressSpinner>
</div>

<div *ngIf="stationDetails != null">
  <h2>{{stationDetails.name}}</h2>
  <div>
    <p-button label="Aktualisieren" (onClick)="updateMonitor()"></p-button>
    &nbsp;
    <p-button label="Andere Haltestelle" (onClick)="doReset()"></p-button>
  </div>

  <div style="vertical-align: bottom; margin-top: 1em">
    <p-inputSwitch [(ngModel)]="compact"></p-inputSwitch>&nbsp;kompakt
  </div>

  <div *ngFor="let platform of stationDetails.platforms">
    <h3 *ngIf="(!compact || rblData.hasOwnProperty(platform.rbl)) && platform.showLines">{{platform.line_names.join(', ')}}</h3>

    <h4 *ngIf="!compact">Bahnsteig {{platform.platform}}</h4>

    <div *ngIf="!loading">
    <div *ngIf="rblData.hasOwnProperty(platform.rbl);else no_data">
      <p-table [value]="compact ? rblDataCompact[platform.rbl] : rblData[platform.rbl]" [loading]="loading">
        <ng-template pTemplate="header">
          <tr *ngIf="!compact">
            <th style="width: 15%">Linie</th>
            <th style="width: 68%">Ziel</th>
            <th style="width: 17%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden">Minuten</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-departure>
          <tr>
            <td style="width: 15%">{{departure.line}}</td>
            <td style="width: 68%">{{departure.towards}}</td>
            <td style="width: 1%; border-right: none; text-align: center;">
              <div *ngIf="departure.folding_ramp">_</div>
              <div *ngIf="departure.barrier_free && !departure.folding_ramp">♿</div>
            </td>
            <td style="width: 16%; border-left: none;">{{departure.time}}</td>
          </tr>
        </ng-template>
      </p-table>
      <div *ngIf="compact" style="height: 1em;"></div>
    </div>

    <ng-template #no_data>
      <div *ngIf="!compact">
        Keine Daten vorhanden.
      </div>
    </ng-template>
  </div>
</div>
