<div *ngIf="stationDetails != null">
  <h2>{{stationDetails.name}}</h2>
  <p-button label="Andere Haltestelle" (onClick)="doReset()"></p-button>

  <div *ngFor="let platform of stationDetails.platforms">
    <h3 *ngIf="platform.showLines">{{platform.line_names.join(', ')}}</h3>

    <h4>Bahnsteig {{platform.platform}}</h4>

    <div *ngIf="rblData.hasOwnProperty(platform.rbl);else no_data">
      <p-table [value]="rblData[platform.rbl]">
        <ng-template pTemplate="header">
          <tr>
            <th>Linie</th>
            <th>Ziel</th>
            <th>Minuten</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-departure>
          <tr>
            <td>{{departure.line}}</td>
            <td>{{departure.towards}}</td>
            <td>
              {{departure.time}}
              <span *ngIf="departure.barrier_free">
                (barrierefrei)
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <ng-template #no_data>
      Keine Daten vorhanden.
    </ng-template>
  </div>
</div>
